---
import { i18n } from "@/i18n/utils";
import heroImage from "@images/hero-1.png";
import { Image } from "astro:assets";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
const t = i18n(Astro.currentLocale);
---

<div class="flex flex-row mt-2 md:justify-between">
    <div class="md:max-w-2xl relative">
        <div
            class="mt-[4rem] lg:leading-[5.2rem] font-semibold text-2xl lg:text-6xl"
        >
            {t("hero-title")}
        </div>
        <div class="sec-text text-xl mt-5">
            {t("hero-subtitle")}
        </div>
        <div class="h-[120px] sm:h-[100px]"></div>
        <div class="flex flex-col sm:flex-row gap-x-[4rem]">
            <a class="btn btn-primary" href="">{t("start-with-app")}</a>
            <button
                id="view-more-hero-btn"
                class="hidden sm:inline-flex btn text-primary btn-ghost"
            >
                <span class="w-3 mx-2">
                    <LottieAnimation
                        src="/src/assets/dd-arrow.json"
                        autoplay="visible"
                    />
                </span>
                {t("learn-more")}</button
            >
        </div>
        <div
            class="elipse-3 bottom-[-90px] left-[-90px] sm:right-1/3 md:bottom-[20px]"
        >
        </div>
    </div>

    <div class="max-w-52 md:max-w-full">
        <Image
            quality="100"
            src={heroImage}
            width="250"
            alt="a doctor hodling a heart emoji"
        />
    </div>
    <div class="elipse top-[100px] sm:top-[200px]"></div>
    <div class="elipse-2 top-[80px] left-[-30px] sm:left-[0] sm:top-[180px]">
    </div>
</div>
<script is:inline>
    const btn = document.getElementById("view-more-hero-btn");

    btn?.addEventListener("click", function () {
        document
            .getElementById("services")
            ?.scrollIntoView({ behavior: "smooth" });
    });
</script>
<style>
    .elipse {
        position: absolute;
        width: 120px;
        height: 120px;
        right: -60px;
        clip-path: ellipse();
        background: #d1e9da;
        opacity: 0.25;
    }
    .elipse-2 {
        position: absolute;
        width: 65px;
        height: 65px;
        clip-path: circle();
        background: radial-gradient(closest-side, #9cd161, #ffffff3b);
    }
    .elipse-3 {
        position: absolute;
        width: 95px;
        height: 95px;
        /* right: 100px; */
        clip-path: circle();
        background: radial-gradient(closest-side, #5566ff40, #ffffff3b);
    }
</style>
