---
import { i18n } from "@/i18n/utils";
import SectionTitle from "../SectionTitle.astro";
import DivImage from "../DivImage.astro";
const t = i18n(Astro.currentLocale);
import almouawasaHospital from "@images/almowasa.png";
import assadUniHospital from "@images/assad-uni-hospital.png";
import alfaranciHospital from "@images/alfaranci-hospital.png";
import CustomCarousel from "../CustomCarousel.astro";
import p1 from "@images/p1.png";
import p2 from "@images/p2.jpg";
import p3 from "@images/p3.jpg";
import p4 from "@images/p4.jpg";
const slides = [
    [
        { name: "مستشفى المواساة الجامعي", image: almouawasaHospital },
        { name: "المشفى الفرنسي", image: alfaranciHospital },
        {
            name: "مستشفى الأسد الجامعي - Assad University Hospital",
            image: assadUniHospital,
        },
    ],
    [
        { name: "مستشفى المواساة الجامعي", image: almouawasaHospital },
        { name: "المشفى الفرنسي", image: alfaranciHospital },
        {
            name: "مستشفى الأسد الجامعي - Assad University Hospital",
            image: assadUniHospital,
        },
    ],
];
const imagesSlider = [p1, p2, p3, p4];
---

<SectionTitle
    mainTitle={t("partners-sec-mainTitle")}
    upperTitle={t("partners-sec-upperTitle")}
/>
<div class="w-full pt-8 sm:pt-11">
    <div class="h-52 gap-3 md:gap-16 flex flex-wrap justify-between">
        {
            slides
                .flatMap((e) => e)
                .map((item) => (
                    <DivImage
                        classList="part-img w-24 sm:w-32"
                        options={{ src: item.image }}
                    />
                ))
        }
    </div>
</div>
<div class="wrapper mt-9 sm:mt-5">
    <CustomCarousel
        whiteControls={true}
        slidesCount={imagesSlider.length}
        carouselId="partners_imgs"
    >
        {
            imagesSlider.map((item, i) => (
                <div id={`partners_imgs_${i + 1}`} class="carousel__item ">
                    <DivImage
                        classList="h-[330px] md:h-[600px] bg-cover bg-no-repeat bg-center"
                        options={{ src: item, width: 1920 }}
                    />
                </div>
            ))
        }
    </CustomCarousel>
</div>
<style>
    .part-img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .wrapper {
        .custom-carousel {
            .controls {
                @apply bottom-3;
                @apply md:text-end;
                @apply md:bottom-11;
                @apply md:left-12;
                .controls__dot {
                    @apply drop-shadow-md;
                }
            }
        }
    }
</style>
