---
import { i18n } from "@/i18n/utils";
import SectionTitle from "../SectionTitle.astro";

const stats = [
    {
        labelKey: "positive-review",
        value: "311+",
    },
    {
        labelKey: "monthly-visitor",
        value: "1000+",
    },
    {
        labelKey: "doctor",
        value: "120+",
    },
    {
        labelKey: "med-facility",
        value: "30+",
    },
];
const t = i18n(Astro.currentLocale);
---

<section>
    <SectionTitle
        mainTitle={t("stats-section-mainTitle")}
        upperTitle={t("stats-section-upperTitle")}
    />
    <div class="stats w-full mt-10">
        {
            stats.map((item) => (
                <div class="stat place-items-center">
                    <div class="stat-value text-gradient mb-6">
                        {item.value}
                    </div>
                    <div class="stat-title text-2xl font-semibold text-base-content/90">
                        {t(item.labelKey)}
                    </div>
                </div>
            ))
        }
    </div>
</section>
