---
import FaqSection from "@/components/home-sections/FaqSection.astro";
import Hero from "@/components/home-sections/Hero.astro";
import OurPartners from "@/components/home-sections/OurPartners.astro";
import OurServices from "@/components/home-sections/OurServices.astro";
import ReviewsSection from "@/components/home-sections/ReviewsSection.astro";
import Stats from "@/components/home-sections/Stats.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="">
	<main>
		<Hero />
		<OurServices />
		<OurPartners />
		<Stats />
		<ReviewsSection />
		<FaqSection />
	</main>
</Layout>
