---
import OurServices from "@/components/home-sections/OurServices.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/home-sections/Hero.astro";
import OurPartners from "@/components/home-sections/OurPartners.astro";
---

<Layout title="">
	<main>
		<Hero />
		<OurServices />
		<OurPartners />
	</main>
</Layout>
