---
import { localeSiteName } from "@localization/utils";
import DownloadAppBtn from "./DownloadAppBtn.astro";
import TopHeaderContact from "./TopHeaderContact.astro";
import LangSwitch from "./nav/LangSwitch.astro";
---

<div class="sticky glass top-0">
  <div class="container mx-auto px-4 md:px-0 container-xl">
    <div class="flex flex-row flex-nowrap py-3 items-center">
      <div class="flex-none w-[60px] md:hidden">
        <label
          for="nav-drawer"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-6 w-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
      <a class="btn btn-ghost px-0 md:text-xl"
        >{localeSiteName(Astro.currentLocale)}</a
      >
      <div class="grow"></div>
      <div class="md:hidden">
        <DownloadAppBtn />
      </div>
      <div class="hidden md:inline-flex">
        <TopHeaderContact />
        <LangSwitch />
      </div>
    </div>
  </div>
</div>
