<div class="flex flex-col sm:flex-row sm:items-center">
    <p class="sec-text text-sm mx-3">email@gmail.com</p>
    <svg
        width="23"
        height="19"
        viewBox="0 0 23 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M1.92969 4.1601L7.12353 7.62266C7.42317 7.82242 7.57299 7.9223 7.73508 7.99306C7.87895 8.05586 8.02972 8.10151 8.18426 8.12906C8.35838 8.1601 8.53844 8.1601 8.89857 8.1601H14.9608C15.3209 8.1601 15.501 8.1601 15.6751 8.12906C15.8297 8.10151 15.9804 8.05586 16.1243 7.99306C16.2864 7.9223 16.4362 7.82241 16.7358 7.62266L21.9297 4.1601M6.72969 17.1601H17.1297C18.8098 17.1601 19.6499 17.1601 20.2917 16.8331C20.8561 16.5455 21.3151 16.0866 21.6027 15.5221C21.9297 14.8803 21.9297 14.0403 21.9297 12.3601V5.9601C21.9297 4.27994 21.9297 3.43986 21.6027 2.79812C21.3151 2.23364 20.8561 1.7747 20.2917 1.48708C19.6499 1.1601 18.8098 1.1601 17.1297 1.1601H6.72969C5.04953 1.1601 4.20945 1.1601 3.56772 1.48708C3.00323 1.7747 2.54429 2.23364 2.25667 2.79812C1.92969 3.43986 1.92969 4.27994 1.92969 5.9601V12.3601C1.92969 14.0403 1.92969 14.8803 2.25667 15.5221C2.54429 16.0866 3.00323 16.5455 3.56772 16.8331C4.20945 17.1601 5.04953 17.1601 6.72969 17.1601Z"
            stroke="url(#paint0_linear_11_114)"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        <defs>
            <linearGradient
                id="paint0_linear_11_114"
                x1="4.7109"
                y1="7.04245"
                x2="14.8345"
                y2="7.04245"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="#4F94E5"></stop>
                <stop offset="1" stop-color="#20BFB4"></stop>
            </linearGradient>
        </defs>
    </svg>
    <div class="w-[32px]"></div>
    <p class="sec-text text-sm mx-3" style="direction:ltr !important">
        +963 944 555 666
    </p>
    <svg
        width="23"
        height="23"
        viewBox="0 0 23 23"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M14.05 5C15.0268 5.19057 15.9244 5.66826 16.6281 6.37194C17.3318 7.07561 17.8095 7.97326 18 8.95M14.05 1C16.0793 1.22544 17.9716 2.13417 19.4163 3.57701C20.8609 5.01984 21.772 6.91101 22 8.94M10.227 12.8631C9.02543 11.6615 8.07664 10.3028 7.38064 8.85323C7.32078 8.72854 7.29084 8.66619 7.26785 8.5873C7.18612 8.30695 7.24482 7.96269 7.41483 7.72526C7.46268 7.65845 7.51983 7.60129 7.63414 7.48698C7.98375 7.13737 8.15855 6.96257 8.27284 6.78679C8.70383 6.1239 8.70383 5.26932 8.27284 4.60643C8.15855 4.43065 7.98375 4.25585 7.63414 3.90624L7.43927 3.71137C6.90783 3.17993 6.64211 2.91421 6.35673 2.76987C5.78917 2.4828 5.1189 2.4828 4.55134 2.76987C4.26596 2.91421 4.00024 3.17993 3.4688 3.71137L3.31116 3.86901C2.78154 4.39863 2.51673 4.66344 2.31448 5.02348C2.09006 5.42298 1.9287 6.04347 1.93006 6.5017C1.93129 6.91464 2.01139 7.19687 2.1716 7.76131C3.03257 10.7947 4.65705 13.6571 7.04503 16.045C9.43301 18.433 12.2954 20.0575 15.3288 20.9185C15.8932 21.0787 16.1754 21.1588 16.5884 21.16C17.0466 21.1614 17.6671 21 18.0666 20.7756C18.4266 20.5733 18.6914 20.3085 19.2211 19.7789L19.3787 19.6213C19.9101 19.0898 20.1759 18.8241 20.3202 18.5387C20.6073 17.9712 20.6073 17.3009 20.3202 16.7333C20.1759 16.448 19.9101 16.1822 19.3787 15.6508L19.1838 15.4559C18.8342 15.1063 18.6594 14.9315 18.4836 14.8172C17.8208 14.3862 16.9662 14.3862 16.3033 14.8172C16.1275 14.9315 15.9527 15.1063 15.6031 15.4559C15.4888 15.5702 15.4316 15.6274 15.3648 15.6752C15.1274 15.8453 14.7831 15.904 14.5028 15.8222C14.4239 15.7992 14.3615 15.7693 14.2368 15.7094C12.7872 15.0134 11.4286 14.0646 10.227 12.8631Z"
            stroke="url(#paint0_linear_11_81)"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        <defs>
            <linearGradient
                id="paint0_linear_11_81"
                x1="4.721"
                y1="8.41177"
                x2="14.88"
                y2="8.41177"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="#4F94E5"></stop>
                <stop offset="1" stop-color="#20BFB4"></stop>
            </linearGradient>
        </defs>
    </svg>
</div>
