---
import { ARABIC_LANG } from "@/i18n/constants";

const currentLangIsArabic = Astro.currentLocale === ARABIC_LANG;
---

<div class="flex-none grow-0 ms-7 sec-text">
    {
        currentLangIsArabic ? (
            <a class="lang-switch" href="/en/">
                English
            </a>
        ) : (
            <a class="lang-switch fw-bold" href="/">
                العربية
            </a>
        )
    }
</div>
