---
import { URL_BASE } from "@/common/constants";
import { ARABIC_LANG } from "@/i18n/constants";

const currentLangIsArabic = Astro.currentLocale === ARABIC_LANG;
const engURL = URL_BASE + "/en/";
---

<div class="flex-none grow-0 mx-3 md:ms-8 sec-text py-3 text-lg font-bold">
    {
        currentLangIsArabic ? (
            <a class="lang-switch" href={engURL}>
                English
            </a>
        ) : (
            <a
                class="lang-switch"
                style="font-family: 'Almarai';"
                href={`${URL_BASE}/`}
            >
                العربية
            </a>
        )
    }
</div>
