---
import NavMenu from "./NavMenu.astro";
import DownloadAppBtn from "../DownloadAppBtn.astro";
---

<div class="navbar px-0 hidden md:flex pt-3">
  <div class="navbar-center">
    <NavMenu />
  </div>
  <div class="navbar-end">
    <DownloadAppBtn />
  </div>
</div>
