---
import { getLocaleNavItems } from "@/i18n/utils";
---

<ul class="menu menu-horizontal lg:gap-x-10 px-0">
  {
    getLocaleNavItems(Astro.currentLocale).map((item) => (
      <li>
        <button
          class="btn font-normal text-lg btn-sm btn-ghost"
          section-link={item.link}
        >
          {item.label}
        </button>
      </li>
    ))
  }
</ul>

<style>
  .btn {
    color: var(--sec-text);
  }
</style>
