---
import { getLocaleNavItems } from "@/i18n/utils";
---

<ul class="menu menu-horizontal lg:gap-x-10 px-0">
  {
    getLocaleNavItems(Astro.currentLocale).map((item) => (
      <li>
        <button class="btn btn-sm btn-ghost" data-link={item.link}>
          {item.label}
        </button>
      </li>
    ))
  }
</ul>
<script>
  document.querySelectorAll("[data-link]").forEach((btn) => {
    btn.addEventListener("click", function () {
      document
        .getElementById(btn.getAttribute("data-link") ?? "")
        ?.scrollIntoView({ behavior: "smooth" });
    });
  });
</script>
<style>
  .btn {
    color: var(--sec-text);
  }
</style>
